In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [2]:
real=pd.read_csv('real.csv')
fake=pd.read_csv('fake.csv')

In [3]:
real['real?']=1
real

                                                   tweet  real?
0      sun downs technical director: al-ahly respecte...      1
1      shawky gharib after the tie with enppi: our go...      1
2      egyptian sports news today, wednesday 1/25/202...      1
3      the main referees committee of the egyptian fo...      1
4      haji bari, the striker of the future team, is ...      1
...                                                  ...    ...
21864  shawky gharib: we excluded 4 players from the ...      1
21865  dina musharraf resumes her career in the singa...      1
21866  indeed, al-ahly ended its agreement with ricar...      1
21867  hazem imam, the captain of zamalek, decided to...      1
21868  walid al-attar, executive director of the egyp...      1

[21869 rows x 2 columns]

In [4]:
fake['real?']=0
fake

                                                   tweet  real?
0      the tongue of his condition, now i saw things ...      0
1      by god the great, after i saw the derby of wyd...      0
2      believe in god, this zamalek fans are as good ...      0
3      the coach appeared in the media and told the t...      0
4      asno smito\nwhoever knows her tells me a massa...      0
...                                                  ...    ...
19994                             by hitting the referee      0
19995  and instead of assassinating him.. they assass...      0
19996  honestly, the goalkeeper deal is not the best\...      0
19997                        haha goal and no bangura (:      0
19998  i swear by god almighty\nmessi will not come t...      0

[19999 rows x 2 columns]

In [5]:
df=pd.concat([real,fake],ignore_index=True).sample(frac=1)
df

                                                   tweet  real?
36112  this referee is necessary to rule at least a m...      0
8541   kohler wants to get his players out of the atm...      1
27245   does not win the unity of foreign rule\nall t...      0
30255  haha, the ambition of victory beats al-wahda i...      0
25638   _ russia\nyou exposed us, egypt, someone ente...      0
...                                                  ...    ...
1175   tonight, zamalek is in a strong confrontation ...      1
8750   koller is sticking to the inclusion of a forei...      1
7311   al-ahly is considering dispensing with percy t...      1
7593   the duo, mahmoud metwally and ayman ashraf, al...      1
4290   al-ahly's midfield is among the priorities for...      1

[41868 rows x 2 columns]

In [6]:
df=df.dropna(how='any')

In [7]:
x_train,x_test,y_train,y_test=train_test_split(df['tweet'],df['real?'],test_size=0.2)

In [13]:
vectorizer=TfidfVectorizer()
x_train_vec=vectorizer.fit_transform(x_train)
X_train=x_train_vec.toarray()
x_test_vec=vectorizer.transform(x_test)
X_test=x_test_vec.toarray()

In [14]:
model=GaussianNB()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [15]:
print("accuracy = {:4.2f}%".format(accuracy_score(y_test,y_pred)*100))

accuracy = 85.65%