In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier

In [4]:
real=pd.read_csv('real.csv')
fake=pd.read_csv('fake.csv')

In [5]:
real['real?']=1
real

                                                   tweet  real?
0      sun downs technical director: al-ahly respecte...      1
1      shawky gharib after the tie with enppi: our go...      1
2      egyptian sports news today, wednesday 1/25/202...      1
3      the main referees committee of the egyptian fo...      1
4      haji bari, the striker of the future team, is ...      1
...                                                  ...    ...
21864  shawky gharib: we excluded 4 players from the ...      1
21865  dina musharraf resumes her career in the singa...      1
21866  indeed, al-ahly ended its agreement with ricar...      1
21867  hazem imam, the captain of zamalek, decided to...      1
21868  walid al-attar, executive director of the egyp...      1

[21869 rows x 2 columns]

In [6]:
fake['real?']=0
fake

                                                   tweet  real?
0      the tongue of his condition, now i saw things ...      0
1      by god the great, after i saw the derby of wyd...      0
2      believe in god, this zamalek fans are as good ...      0
3      the coach appeared in the media and told the t...      0
4      asno smito\nwhoever knows her tells me a massa...      0
...                                                  ...    ...
19994                             by hitting the referee      0
19995  and instead of assassinating him.. they assass...      0
19996  honestly, the goalkeeper deal is not the best\...      0
19997                        haha goal and no bangura (:      0
19998  i swear by god almighty\nmessi will not come t...      0

[19999 rows x 2 columns]

In [7]:
df=pd.concat([real,fake],ignore_index=True).sample(frac=1)
df

                                                   tweet  real?
20594  mohamed abdel shafi, the left back of the firs...      1
9973   ahmed abdel qader, al-ahly wing, is ready to s...      1
35830  vinicius after the referee zero contact for ba...      0
37337  congratulations, the kuwaiti leader won agains...      0
15129  today's matches in the upper egypt group resul...      1
...                                                  ...    ...
39273  since al-ahly is once a win and once a loss, i...      0
15632  today's matches in the bahri group will witnes...      1
27274  and the hope is for the victory of the failed ...      0
23474  adam wasted his solitude and gave them balenty...      0
5416   the paralympic committee, headed by dr. hossam...      1

[41868 rows x 2 columns]

In [8]:
df=df.dropna(how='any')

In [9]:
x_train,x_test,y_train,y_test=train_test_split(df['tweet'],df['real?'],test_size=0.2)

In [10]:
vectorizer=TfidfVectorizer()
x_train_vec=vectorizer.fit_transform(x_train)
#X_train=x_train_vec.toarray()
x_test_vec=vectorizer.transform(x_test)
#X_test=x_test_vec.toarray()

In [12]:
model=RandomForestClassifier(criterion='entropy')
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [13]:
print("accuracy = {:4.2f}%".format(accuracy_score(y_test,y_pred)*100))

accuracy = 94.21%